/homework1/OrderServiceClient/build/
/homework1/OrderServiceClient/nbproject/private/
/homework1/Orders/build/
/homework1/Orders/dist/
/homework1/Orders/nbproject/private/
/homework3/Calendar/nbproject/private/
/homework3/Calendar/build/
/homework3/Calendar/dist/
/homework4/WhitePagesService/nbproject/private/
/homework4/WhitePagesService/build/
/homework4/WhitePagesService/dist/
/homework4/WhitePages/nbproject/private/
/homework4/WhitePages/build/
/homework4/WhitePages/dist/
nbproject/
build/
dist/
